.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.controls {
  margin: 20px;
}

.show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  text-align: left;
}

.show-item img {
  width: 100%;
}

.view-details {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-detail img {
  max-width: 100%;
  height: auto;
}

.show-detail ul {
  list-style-type: none;
  padding: 0;
}

.show-detail li {
  margin: 20px 0;
}
